/* App.css */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
}


.full-page {
  display: flex;             /* Use flex to adjust the layout */
  overflow-y: auto;         /* Enable vertical scrolling */
  background-color: #f5f5f5;
}

.full-height-div {
  padding: 50px;
  overflow-y: auto;
  flex-grow: 1;              /* Allow the div to grow and take up remaining space */
  display: flex;             /* Use flex to adjust the layout */
  flex-direction: column;    /* Stack children vertically */
  min-height: 100vh;         /* Ensure the div is at least as tall as the viewport */
}

h2 {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-weight: bold;
  font-size: 1.3rem; 
}
/* Make the table horizontally scrollable */
.table-container {
  overflow-x: auto;
  max-width: 80%;
  padding: 20px; /* Adjust the padding value as needed */
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 20px auto; /* Center the table and add margins */
  text-align: center; /* Center align text in cells */

}

/* Reduce the font size for table header (th) and table data (td) */
th, td {
  font-size: 12px; /* Adjust the font size as needed */
  padding: 8px; /* Add padding to table cells */
  border: 1px solid #ccc;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.centered-container {
  width: 90%;
  border: none;
  margin-left: 30px;
  justify-content: center; /* Center items horizontally */
  align-items: center;     /* Center items vertically */
}

.container {
  background-color: transparent; /* Make the container background transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%; /* Set the width to 80% of the viewport width */
  margin: 30px; /* Add margin bottom between containers */
}

.content {
  background-color: #ffffff; /* Pure white */
  border-radius: 30px; /* Rounded corners */
  padding: 30px; /* Add padding if needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  width: 95%; /* Allow the content div to stretch horizontally */
}

.checkbox-container {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 30px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  padding: 7px; /* Adjust the padding value as needed */
  margin: 42px
}

.text-container {
  display: flex;
  background-color: #f2f2f2;
  border-radius: 30px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  margin: 42px
}

.checkbox-label {
  margin: 10px;
  font-size: 13px; /* Adjust this value as needed */
}

.checkbox-label input {
  margin-right: 5px; /* Adjust the value as needed */
}

.btn {
  background-color: #73c2de; /* Green background */
  border: none; /* Remove default border */
  color: white; /* White text */
  padding: 8px 16px; /* Add padding */
  text-align: center; /* Center align text */
  text-decoration: none; /* Remove default underline */
  display: inline-block; /* Make it inline-block to adjust padding and margin */
  font-size: 14px; /* Adjust font size */
  margin: 4px; /* Add margin */
  cursor: pointer; /* Show pointer cursor on hover */
  border-radius: 18px; /* Rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.btn:hover {
  background-color: #5a97ad; /* Darker green background on hover */
}


.header, .footer {
  border-radius: 30px; /* Rounded corners */
  padding: 30px; /* Add padding if needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
  width: 70%; /* Allow the content div to stretch horizontally */
  background-color: #5a97ad;
  color: #f5f5f5;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  margin-left: 20px;
}

.header .subtitle {
  color: white;
  font-size: 1em;
  font-weight: 300;
  margin-left: 20px;

}

.header .logo {
  height: 50px;
}

.footer .logo {
  height: 50px;
}

.footer {
  text-align: center;
}

.info-box {
  background-color: #f0f8ff; /* Light color for the box, adjust as needed */
  border: 1px solid #d0d0d0; /* Optional: Light border to define the box */
  padding: 15px; /* Space inside the box */
  border-radius: 5px; /* Optional: Rounded corners for a softer look */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow for depth */
  margin: 25px 0; /* Remove horizontal centering and add vertical spacing */
  width: 90%;
  font-family: Arial, sans-serif; /* Optional: Font for better readability */
}

.info-box p {
  margin: 0; /* Remove default margin from <p> to keep box tidy */
}

.nav-link {
  text-decoration: none;
  color: #464242;
  font-size: 17px;
  display: block; /* Ensure the link fills the entire <li> */
  padding: 10px 17px; /* Add padding for better spacing */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.nav-link:hover {
  background-color: #d3d3d3; /* Lighter shade of gray on hover */
}

.active-link {
  background-color: #b0b0b0; /* Change to a darker shade for the active link */
  color: #000; /* Ensure text color contrasts well */
}