.sidebar {
    width: 450px;
    background-color: white;
    padding: 40px;
    box-sizing: border-box;
  }
  
  .title {
    display: flex;
    align-items: center; /* Vertically centers the text */
    font-size: 20px;
    margin-bottom: 50px;
    color: #000;
    font-weight: bold;
  }

  .subtitle {
    display: flex;
    align-items: center; /* Vertically centers the text */
    font-size: 16px;
    color: #b0a8a8;
    margin-top: 25px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 17px;
    transition: background-color 0.3s, border-radius 0.3s; /* Smooth transition for background and border-radius */
    border-radius: 8px; /* Rounded corners */

  }
  
  nav ul li a {
    text-decoration: none;
    color: #464242;
    font-size: 17px;
    display: block; /* Make the link fill the entire <li> */
    height: 100%; /* Ensure the link fills the height of the <li> */
    width: 100%; /* Ensure the link fills the width of the <li> */
    border-radius: 8px; /* Ensure the link also has rounded corners */
    box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

  nav ul li:hover {
    background-color: #d3d3d3; /* Lighter shade of gray on hover */
}
  
